<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= kontakt.vorname%> <%= kontakt.nachname%>
        </title>
    </head>
    <body>
        <h1>Details zu <%= kontakt.vorname%> <%=kontakt.nachname%> </h1>
        <p>Vorname: <%= kontakt.vorname%></p>
        <p>Nachname: <%= kontakt.nachname%></p>
        <p>
            <a href="/kontaktliste">Zurück zur Liste</a>
        </p>
    </body>
</html>